.pl-link:hover ~ a{
color: green;
}

.pl-preview {
width: 60vw;
max-width: 300px;
height: 60vw;
max-height: 300px;
object-position: center;
object-fit: cover;
margin: 2.5vh 0;
border-radius: 10px;
justify-self: right;
box-shadow: 1px 1px 6px #c0c0c0;
}

.pl-title {
font-size: 1.37em;
font-weight: 600;
}

.pl-subtitle {
font-size: 1.12em;
font-weight: 300;
}

.pj-link-card {
margin-bottom: 5vh;
border-bottom: 2px solid #c0c0c0;
border-radius: 0;
display: grid;
}